<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <h2>Welcome to OMZETIN</h2>
  <ul class="nav nav-pills">
    <li role="presentation"><a class="glyphicon glyphicon-home" href="/">HOME</a></li>
    <li role="presentation"><a class="glyphicon glyphicon-exit" href="/provider/logout">LOGOUT</a></li>
  </ul>
  <hr>
  <div class="container pull-left">
    <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-4 col-lg-4 toppad">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= provider.name %></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class=" col-md-7 col-lg-7 ">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Name:</td>
                      <td>
                        <%= provider.name %>
                      </td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td>
                        <%= provider.email %>
                      </td>
                    </tr>
                    <tr>
                      <td>Service:</td>
                      <td>
                        <%= provider.service %>
                      </td>
                      <tr>
                        <td>Price:</td>
                        <td>
                          <%= provider.price %>
                        </td>
                      </tr>
                  </tbody>
                </table>
                <a href="/providers/profile/edit" class="btn btn-primary">Edit|</a>
                <a href="/providers/profile/delete" class="btn btn-primary">|Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pull-left">
    <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-4 col-lg-4 toppad">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Sheena Shrestha</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class=" col-md-7 col-lg-7 ">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Name:</td>
                      <td>Udin Jago</td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td>udinjagi@jago.com</td>
                    </tr>
                    <tr>
                      <td>Service:</td>
                      <td>Logo Designer</td>
                      <tr>
                        <td>Price:</td>
                        <td>300000</td>
                      </tr>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="btn btn-primary">Portofolio</a>
                <a href="#" class="btn btn-primary">List Offer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
